APPLICATION_NAME=Application Name
APPLICATION_SUBTITLE=Application Subtitle - Optional
PWA_TITLE=Application Name
PWA_TITLE_SHORT=Short App Name

DATASOURCE_URL=postgresql://db:5432/postgres
DATASOURCE_USERNAME=postgres
DATASOURCE_PASSWORD=postgres

# Not needed. Admin user will be generated automatically with a random password at first boot time
# Only change this, if you need a predefined admin password or if you want to change the default admin
# username. Note: Enabling this will have no effect after the first boot, as an admin user already exists.
#
#ADMIN_USERNAME=admin
#ADMIN_PASSWORD=CHANGE_ME!

# Use this to enable OpenAPI and / or Swagger UI. This can help with adding data and understanding the api.
# If SECURE_SPRINGDOC is set to true, only admin users can access the OpenAPI and Swagger UI Endpoint. If 
# set to false, everybody can see the OpenAPI specification and the Swagger UI. Authentication is still needed
# to add or modify data.
#
#ENABLE_API_DOCS=false
#ENABLE_SWAGGER_UI=false
#SECURE_SPRINGDOC=true


# Use this if you want to change the default layout right at start. Otherwise you can change the layout
# in the frontend after starting the application. This is only needed if you want to deploy an predefined
# default design. Otherwise only dark and light designs are provided on first start.
#
#DEFAULT_DESIGN_ENABLE=true
#DEFAULT_DESIGN_BACKGROUND=#F7F9FF
#DEFAULT_DESIGN_SURFACE=#4B619F
#DEFAULT_DESIGN_PRIMARY=#42568F

# Use this to enable a footer to be displayed on the front end. This can be used for a sponsor message
# and/or an image. Images must be in jpg/jpeg or png format. You do not need to provide an image for every size.
# If you do use an image, you should provide at least the XS image as this is the smallest fallback option. If
# the frontend requests a larger size, all smaller sizes will be checked until an image is found.
# The threshold can be found here: https://vuetifyjs.com/en/features/display-and-platform/#breakpoints-and-thresholds
#
# IMPORTANT: If you deploy the application with docker, be sure to mount the volumes to the paths!
#
#SHOW_FOOTER=false
#FOOTER_MESSAGE=Footer Message
#FOOTER_IMAGE_XS=/image-xs.png 
#FOOTER_IMAGE_SM=/image-sm.png 
#FOOTER_IMAGE_MD=/image-md.png 
#FOOTER_IMAGE_LG=/image-lg.png 
#FOOTER_IMAGE_XL=/image-xl.png 
#FOOTER_IMAGE_XXL=/image-xxl.png 
